*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding:0;
    margin:0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    max-width: 2200px;
    margin: 0 auto;
}

nav{
    height: 12vh;
    min-height: 115px;
    width: 94%;
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0 2%;
    max-height: 120px;
    max-width: 2100px;
    margin: 0 auto;
    overflow: hidden;
}

.navDisplay{
    height: 100vh;
    min-height: 900px;
    width: 0;
    background-color: rgb(31, 30, 30);
    opacity: 0.90;
    z-index: 100000000;
    position: absolute;    
    /* transform: translateX(-100%); */
    left: -120%;
    /* transition: 0.5s ease-in-out all; */
    overflow: hidden;
    /* display: none; */
}

.navDisplay .navList-display{
    list-style: none;
    text-align: center;
    position: relative;
    opacity: 1.0;
    top: 15vh;
    width: 200px;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid red; */
    /* color: white; */
}

.navDisplay .navList-display li{
    padding: 10px 20px;    
}

.navDisplay .navItem-display{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    z-index: -1;
    /* float: left; */
    font-weight: 400;
    font-size: 18px;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
}

.navDisplay .navItem-display::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -12px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

.navDisplay .navItem-display:hover::after{
    width: 55%;
    border-color: #FFC200;
}

.navDisplay .navList-display li a{
    text-decoration: none;
    color: white;
}

#navImg{
    width:90px;
    height:46px;
}

#navLogo{
    margin-top: 0;
}

#navLogo::after{
    display: none;
}

.navList{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    z-index: -1;
    float: left;
    font-weight: 400;
    font-size: 18px;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
}

.navItem a{
    text-decoration: none;
    color: black;
}

nav .navItem:nth-child(3)
{
    font-weight: bold;
}

nav .navItem:nth-child(3)::after{
    width: 55%;
    border-color: #FFC200;
}

.navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -14px;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.navItem:hover::after{
    width: 55%;
    border-color: #FFC200;
}

.main{
    width:100%;
    height:100vh;
    /* border: 1px solid red; */
    position: relative;
    z-index: -1;
    
}

.main::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/duy-pham-Cecb0_8Hx-o-unsplash.png");
    /* filter: grayscale(100%); */
    background-color: #242423;
    /* background-color: black; */
    -webkit-filter: brightness(75%);
            filter: brightness(75%);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    /* filter: brightness(30%); */
    z-index: -1;
    opacity: 1;
    /* opacity: .5; */
}

.main .social{
    position: absolute;
    /* border: 1px solid red; */
    /* height: 200px; */
    /* width: 100px; */
    bottom: 50%;
    -webkit-transform: translateY(50%);
        -ms-transform: translateY(50%);
            transform: translateY(50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    right: 0;
    margin-right: 5%;
}

.main .social i{
    position: relative;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
}

#downA{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 1px solid red;
    padding: 5px 8px;
    cursor: pointer;
    z-index: 100000000;
}

.main .ourStory{
    position: absolute;
    bottom: 150px;
    max-width:65%;
    /* border: 1px solid rgb(73, 72, 72); */
    color:white;
    margin: 0 5%;
}

.main .ourStory h2{
    font-size:5em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.main .ourStory p{
    color: white;
    opacity: .4;
    font-family: 'Merriweather';
    font-size: 1.2em;
    margin-top: 20px;
}

/* .wbr{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
} */

.wbr{
    width: 100%;
    height: 100vh;
    /* border: 1px solid green; */
    -ms-display: grid;
    display: grid;
    -ms-grid-columns: (1fr)(2);
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
}

.wbr img{
    /* border: 1px solid red; */
    width: 620px;
    height:410px;
    position: relative;
}

.wbr .wbrPara{
    /* border: 1px solid navy; */
    position: relative;
    left: -50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}

.wbr .wbrPara h3{
    font-size: 2.7em;
    width: 645px;
    padding:20px;
    color: #242423;
}

.wbr .wbrPara span{
    color: #FFC200;
}

.wbr .wbrPara p{
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}


.mission{
    width:100%;
    height:100vh;
    /* border:1px solid orange; */
    display: -ms-grid;
    display: grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
}

.mission::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.mission img{
    /* border: 1px solid red; */
    width: 620px;
    height:410px;
    position: relative;
}

.mission .missionPara{
    /* border: 1px solid navy; */
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.mission .missionPara h3{
    font-size: 2.7em;
    width: 645px;
    padding:20px;
    color: #242423;
}

.mission .missionPara span{
    color: #FFC200;
}

.mission .missionPara p:nth-child(2){
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px 20px 0 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.mission .missionPara p:nth-child(3){
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 0 20px 20px 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.values{
    width:100%;
    height:100vh;
    padding-top:100px;
    /* border:1px solid blue; */
    text-align: center;
}

.values h3{
    font-size: 2.7em;
    /* width: 645px; */
    padding:20px;
    color: #242423; 
}

.values span{
    color: #FFC200;
}

.values p{
    width: 800px;
    margin:auto;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.values .valueGrid{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (400px)[3];
    grid-template-columns: repeat(3, 400px);
    /* border: 1px solid black; */
    padding: 0 10%;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    margin-top: 30px;
}

.values div{
    /* border: 1px solid red; */
}

.values .valueGrid img{
    height: 184px;
    width:184px;
}

.values .valueGrid h4{
    font-size: 1.6em;
    padding-top: 40px;
    color: #242423;
}

.values .valueGrid p{
    width:100%;
    /* border:1px solid blue; */
}

.vision{
    width:100%;
    height:100vh;
    /* border:1px solid pink; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
}

.vision::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.vision img{
    /* border: 1px solid red; */
    width: 620px;
    height:410px;
    position: relative;
}

.vision .visionPara{
    /* border: 1px solid navy; */
    position: relative;
    left: -50%;
    -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
            transform: translateX(50%);
}

.vision .visionPara h3{
    font-size: 2.7em;
    width: 645px;
    padding:20px;
    color: #242423;
}

.vision .visionPara span{
    color: #FFC200;
}

.vision .visionPara p:nth-child(2){
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px 20px 0 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.vision .visionPara p:nth-child(3){
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 0 20px 20px 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.team{
    width:100%;
    height:100vh;
    /* border:1px solid purple; */
}

.team{
    width:100%;
    height:100vh;
    /* border:1px solid orange; */
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
}

.team img{
    /* border: 1px solid red; */
    width: 620px;
    height:410px;
    position: relative;
}

.team .teamPara{
    /* border: 1px solid navy; */
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

.team .teamPara h3{
    font-size: 2.7em;
    width: 645px;
    padding:20px;
    color: #242423;
}

.team .teamPara span{
    color: #FFC200;
}

.team .teamPara p{
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.founders{
    width:100%;
    height:100vh;
    /* border:1px solid cyan; */
    position: relative;
}

.founders::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.founders .foundersPara h3{
    font-size: 2.7em;
    padding:40px 5% 20px 5%;
    color: #242423;
}

.founders .foundersPara p{
    font-size: 1.2em;
    font-family: 'Merriweather';
    /* margin-top: 0px; */
    padding: 0 5%;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.founders .foundersLayout{
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
    -ms-grid-columns: (480px)[3];
    grid-template-columns: repeat(3, 480px);
    padding: 0 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.founders .foundersLayout div{
    /* border: 1px solid red; */
    height: 640px;
    border-left: 20px solid #FFC200;
}

.founders .foundersLayout .cardContent{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: transparent;
    border-left: none;
    left: -100%;
    z-index: 1000;
    -webkit-transition: .3s left ease-in-out;
    -o-transition: .3s left ease-in-out;
    transition: .3s left ease-in-out;
}

.founders .foundersLayout .cardContent h3{
    font-size: 1.9em;
    color: #242423;
    padding: 20px 30px 20px 10px;
}

.founders .foundersLayout .cardContent p{
    padding: 0px 30px 0px 10px;
    color: #242423;
    opacity: .5;
    font-size: 1.3em;
    font-family: 'Merriweather';
    line-height: 35px;
}

.founders .foundersLayout #f1
{
    background-image: url("images/andrew.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.founders .foundersLayout #f1::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
    z-index: 3;
}

.founders .foundersLayout #f1:hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}

.founders .foundersLayout #f1:hover .cardContent
{
    left: 0;
}

.founders .foundersLayout #f1:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.founders .foundersLayout #f2
{
    background-image: url("images/qmjc1fc6.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.founders .foundersLayout #f2::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

.founders .foundersLayout #f2:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.founders .foundersLayout #f2:hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}

.founders .foundersLayout #f2:hover .cardContent
{
    left: 0;
}

.founders .foundersLayout #f3
{
    background-image: url("images/17llxyyr.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.founders .foundersLayout #f3::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

.founders .foundersLayout #f3:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.founders .foundersLayout #f3:hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}

.founders .foundersLayout #f3:hover .cardContent
{
    left: 0;
}

.creativeTeam{
    width:100%;
    height:100vh;
    /* border:1px solid navy; */
    position: relative;
}

.creativeTeam .creativePara h3{
    font-size: 2.7em;
    padding:40px 5% 20px 5%;
    color: #242423;
}

.creativeTeam .creativePara p{
    font-size: 1.2em;
    font-family: 'Merriweather';
    /* margin-top: 0px; */
    padding: 0 5%;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.creativeTeam .creativeLayout{
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
    -ms-grid-columns: (480px)[3];
    grid-template-columns: repeat(3, 480px);
    padding: 0 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.creativeTeam .creativeLayout .cardContent{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: transparent;
    border-left: none;
    left: -100%;
    z-index: 1000;
    -webkit-transition: .3s left ease-in-out;
    -o-transition: .3s left ease-in-out;
    transition: .3s left ease-in-out;
}

.creativeTeam .creativeLayout .cardContent h3{
    font-size: 1.9em;
    color: #FFFFFF;
    padding: 20px 30px 20px 10px;
}

.creativeTeam .creativeLayout .cardContent p{
    padding: 0px 30px 0px 10px;
    color: #FFFFFF;
    opacity: .5;
    font-size: 1.3em;
    font-family: 'Merriweather';
    line-height: 35px;
}


.creativeTeam .creativeLayout div{
    /* border: 1px solid red; */
    height: 640px;
    border-left: 20px solid #134E78;
}

.creativeTeam .creativeLayout #c1
{
    background-image: url("images/image1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.creativeTeam .creativeLayout #c1::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

.creativeTeam .creativeLayout #c1:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c1:hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}

.creativeTeam .creativeLayout #c1:hover .cardContent
{
    left: 0;
}

.creativeTeam .creativeLayout #c2
{
    background-image: url("images/lp5plk56.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.creativeTeam .creativeLayout #c2::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

.creativeTeam .creativeLayout #c2:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c2:hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}

.creativeTeam .creativeLayout #c2:hover .cardContent
{
    left: 0;
}

.creativeTeam .creativeLayout #c3
{
    background-image: url("images/Avi.jpg");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.creativeTeam .creativeLayout #c3::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

.creativeTeam .creativeLayout #c3:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c3:hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}

.creativeTeam .creativeLayout #c3:hover .cardContent
{
    left: 0;
}

.editorialTeam{
    width:100%;
    height:100vh;
    border:1px solid yellowgreen;
    position: relative;
    display: none;
}

.editorialTeam::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.editorialTeam .editorialPara h3{
    font-size: 2.7em;
    padding:40px 5% 20px 5%;
    color: #242423;
}

.editorialTeam .editorialPara p{
    font-size: 1.2em;
    font-family: 'Merriweather';
    /* margin-top: 0px; */
    padding: 0 5%;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.editorialTeam .editorialLayout{
    display: -ms-grid;
    display: grid;
    margin-top: 40px;
    -ms-grid-columns: (480px)[3];
    grid-template-columns: repeat(3, 480px);
    padding: 0 5%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.editorialTeam .editorialLayout div{
    border: 1px solid red;
    height: 640px;
    border-left: 20px solid #FFC200;
}

.editorialTeam .editorialLayout div:nth-child(1)
{
    background-image: url("images/amy-hirschi-b3AYk8HKCl0-unsplash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    -webkit-transition: 2s background ease-in;

    -o-transition: 2s background ease-in;

    transition: 2s background ease-in;

    /* animation: 1s makeSmall forwards; */
}

.editorialTeam .editorialLayout div:nth-child(1)::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;

}

.editorialTeam .editorialLayout div:nth-child(1):hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.editorialTeam .editorialLayout div:nth-child(1):hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}

@-webkit-keyframes makeBig{
    0%{
        background-size: cover;
    }
    20%{
        background-size: 105% 105%;
    }
    40%{
        background-size: 110% 110%;
    }
    60%{
        background-size: 115% 115%;
    }
    80%{
        background-size: 120% 120%;
    }
    100%{
        background-size: 125% 125%;
    }
}

@keyframes makeBig{
    0%{
        background-size: cover;
    }
    20%{
        background-size: 105% 105%;
    }
    40%{
        background-size: 110% 110%;
    }
    60%{
        background-size: 115% 115%;
    }
    80%{
        background-size: 120% 120%;
    }
    100%{
        background-size: 125% 125%;
    }
}

/* @keyframe makeSmall{
    0%{
        background-size: 125% 125%;
    }
    20%{
        background-size: 120% 120%;
    }
    40%{
        background-size: 115% 115%;
    }
    60%{
        background-size: 110% 110%;
    }
    80%{
        background-size: 105% 105%;
    }
    100%{
        background-size: cover;
    }

} */

.editorialTeam .editorialLayout div:nth-child(2)
{
    background-image: url("images/guogete-uKtJE8LV4z8-unsplash.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.editorialTeam .editorialLayout div:nth-child(2)::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

.editorialTeam .editorialLayout div:nth-child(2):hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.editorialTeam .editorialLayout div:nth-child(2):hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}

.editorialTeam .editorialLayout div:nth-child(3)
{
    background-image: url("images/demorris-byrd-K8RAfoZxoYI-unsplash.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.editorialTeam .editorialLayout div:nth-child(3)::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    -webkit-transition: .2s all ease-out;
    -o-transition: .2s all ease-out;
    transition: .2s all ease-out;
}

.editorialTeam .editorialLayout div:nth-child(3):hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.editorialTeam .editorialLayout div:nth-child(3):hover
{
    -webkit-animation: .1s makeBig forwards;
            animation: .1s makeBig forwards;
}


footer{
    width:100%;
    height:40vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
}

footer img{
    height: 46px;
    width: 90px;
    margin-top: 70px;
}

footer .navList{
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

footer .navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px;
    z-index: -1;
    float: left;
    font-weight: 400;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
    font-weight: bold;
}

footer .navItem:nth-child(2)
{
    font-weight: bold;
}

footer .navItem:nth-child(2)::after{
    width: 1%;
    border-color: transparent;
}

footer .navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -11px;
    border: 1px solid transparent;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

footer .navItem:hover::after{
    width: 55%;
    border-color: #FFC200;
}

footer .social i{
    font-size: 2em;
    color: rgb(121, 121, 121);
    margin: 0 15px;
    -webkit-transition: .3s all ease-out;
    -o-transition: .3s all ease-out;
    transition: .3s all ease-out;
}

footer .social i:hover{
    color: #FFC200;
}

.lineBreak{
    width: 90%;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    border: 1px solid rgb(228, 228, 228);
}

@media (max-width: 1700px){
    nav{
        background-color: red;
    }
    .founders{
        height: 2300px;
        overflow-y: hidden; 
    }
    .founders .foundersLayout{
        -ms-grid-columns: (480px)[1];
        grid-template-columns: repeat(1, 480px);
        /* height: 2050px; */
    }
    .founders .foundersLayout div{
        margin-bottom: 30px;
        overflow-y: hidden; 
        /* display: inline-block;  */
    }
    .founders .foundersLayout{
        border: 1px solid red;
        /* place-items: center; */
        /* align-items: center; */
        /* align-content: center; */
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        /* text-align: center; */
    }
    .creativeTeam{
        height: 2400px;
        overflow-y: hidden;
    }
    .creativeTeam .creativeLayout{
        -ms-grid-columns: (480px)[1];
        grid-template-columns: repeat(1, 480px);
        /* height: 2050px; */
    }
    .creativeTeam .creativeLayout div{
        margin-bottom: 30px;
        overflow-y: hidden; 
        /* display: inline-block;  */
    }
    .creativeTeam .creativeLayout{
        border: 1px solid red;
        /* place-items: center; */
        /* align-items: center; */
        /* align-content: center; */
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        /* text-align: center; */
    }
}

@media (max-width: 1500px){
    .wrapper nav{
        /* background-color: rgb(167, 167, 167); */
    }
    .wbr{
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
    }
    .wbr > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .wbr > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .wbr img{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .wrapper .wbr .wbrPara{
        /* min-width: 0; */
        /* left: 0; */
        /* transform: translateX(-50%); */
        /* min-width: 500px; */
        /* width: 60%; */
        /* display: block; */
        /* margin: auto; */
        /* width: ; */
        /* text-align: center; */
        /* position: relative; */
        /* left:50%; */
        /* left: 0px; */
        /* border: 1px solid red; */
        /* left: -25%; */
        /* transform: translateX(-50%); */
        width: 100%;
        padding-top: 0;

    }
    .wbr .wbrPara p{
        /* width: 100%;
        border: 1px solid blue; */
        text-align: center;
        position: relative;
        width: 80%;
        margin: auto;
    }
    .wbr .wbrPara h3{
        /* width: 100%;
        border: 1px solid purple; */
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .mission{
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    }
    .mission > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .mission > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .mission .missionPara{
        left: 0%;
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
        text-align: center;
    }
    .vision{
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    }
    .vision > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .vision > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .vision .visionPara{
        left: 0%;
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
        text-align: center;
    }
    .team{
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
        -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    }
    .team > *:nth-child(1){
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    .team > *:nth-child(2){
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .team .teamPara{
        left: 0%;
        -webkit-transform: translateX(0%);
            -ms-transform: translateX(0%);
                transform: translateX(0%);
        text-align: center;
    }
}

@media (max-width: 1200px){
    nav{
        background-color: green;
    }
    .values .valueGrid{
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    }
    .values .valueGrid img{
        width: 80px;
        height: 80px;
    }
    .values{
        height: 1200px;
    }
    .values p{
        max-width: 90%;
    }
    .vision .visionPara p{
        width: 90%;
    }
    .founders{
        height: 2400px;
    }

}

@media (max-width: 750px){
    nav{
        background-color: purple;
    }
    .main .ourStory h2{
        font-size: 3.5em;
    }
    nav .navList .navItem{
        margin-right: 0;
        margin-left: 0;
    }
    .main .ourStory p{
        font-size: 1.1em;
    }
    .values{
        height: 1300px;
    }
    .founders{
        height: 2450px;
    }
}

@media (max-width: 525px){
    nav{
        background-color: red;
    }
    .main .ourStory{
        max-width: 80%;
    }
    .social a{
        /* right: -10%; */
        display: none;
        /* border: 1px solid red; */
    }
    .catchContainer{
        width: 95%;
    }
    .labelHolder label{
        display: none;
    }
    /* .social */
    .recent h3{
        /* margin-right: 20px; */
    }
    .recent .cardLayout{
        padding: 0;
    }
    .insights .cardLayout{
        padding: 0;
    }
    .network .cardLayout{
        padding: 0;
    }
    .values{
        height: 1350px;
    }
    .founders{
        height: 2500px;
    }
}
