*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    overflow-x: hidden;
    /* overflow-y: hidden; */
}

html {
    scroll-behavior: smooth;
    /* min-width: 500px; */
}

body{
    font-family: 'Lato', sans-serif;
}

nav{
    height: 12vh;
    min-height: 115px;
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0 2%;
    overflow: hidden;
    z-index: 1;
}

#navImg{
    width:90px;
    height:46px;
}

#navLogo{
    margin-top: 0;
}

#navLogo::after{
    display: none;
}

.navList{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
}

.navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    z-index: -1;
    float: left;
    font-weight: 400;
    font-size: 18px;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
}

.navItem a{
    text-decoration: none;
    color: black;
}

nav .navItem:nth-child(3)
{
    font-weight: bold;
}

nav .navItem:nth-child(3)::after{
    width: 55%;
    border-color: #FFC200;
}

.navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -14px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

.navItem:hover::after{
    width: 55%;
    border-color: #FFC200;
}

.main{
    width:100%;
    height:100vh;
    /* position: relative; */
    /* z-index: -1; */
    /* background-image: url("images/contactBackground.png"); */
    position: center center;
    background-repeat: no-repeat;
    /* border: 1px solid red; */
    position: relative;
    min-height: 1000px;
}

.main::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/duy-pham-Cecb0_8Hx-o-unsplash.png");
    background-color: #242423;
    filter: brightness(75%);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    z-index: -1;
    opacity: 1;
}

.main .social{
    position: absolute;
    /* border: 1px solid red; */
    /* height: 200px; */
    /* width: 100px; */
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    right: 0;
    margin-right: 5%;
    z-index: 9;

}

.main .social i{
    position: relative;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    transition: .3s all ease-out;
    /* border: 1px solid red; */
    cursor: pointer;
}

.main .social i:hover{
    color: #FFC200;
}

#downA{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
    padding: 5px 8px;
    cursor: pointer;
    /* z-index: 2; */
}

.main .ourStory{
    position: absolute;
    bottom: 150px;
    max-width:65%;
    /* border: 1px solid rgb(73, 72, 72); */
    color:white;
    margin: 0 5%;
    cursor: pointer;
    z-index: 20;
}

.main .ourStory h2{
    font-size:5em;
    text-transform: uppercase;
    letter-spacing: 0.8px;
}

.main .ourStory p{
    color: white;
    opacity: .4;
    font-family: 'Merriweather';
    font-size: 1.2em;
    margin-top: 20px;
}

/* .wbr{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
} */

.wbr{
    width: 100%;
    height: 100vh;
    min-height: 1000px;
    /* border: 1px solid green; */
    /* -ms-display: grid; */
    display: grid;
    /* -ms-grid-columns: (1fr)(2); */
    grid-template-columns: repeat(2, 1fr);
    /* -webkit-place-items: center; */
    place-items: center;
    align-content: center;
    /* justify-content: center; */
    /* -ms-justify-content: space-between; */
    justify-items: center;
    position: relative;
}

.wbr img{
    /* border: 1px solid red; */
    width: 620px;
    height:410px;
    position: relative;
    display: block;
}

.wbr .wbrPara{
    /* border: 1px solid navy; */
    position: relative;
    left: -50%;
    transform: translateX(50%);
    display: block;
    /* border: 1px solid red; */
    /* margin: 0; */

}

.wbr .wbrPara h3{
    font-size: 2.7em;
    width: 645px;
    padding:20px;
    color: #242423;
    /* border: 1px solid green; */
}

.wbr .wbrPara span{
    color: #FFC200;
}

.wbr .wbrPara p{
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
    /* border: 1px solid blue; */
}


.mission{
    width:100%;
    height:100vh;
    min-height: 1000px;
    /* border:1px solid orange; */
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
}

.mission::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.mission img{
    /* border: 1px solid red; */
    width: 620px;
    height:410px;
    position: relative;
}

.mission .missionPara{
    /* border: 1px solid navy; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.mission .missionPara h3{
    font-size: 2.7em;
    width: 645px;
    padding:20px;
    color: #242423;
}

.mission .missionPara span{
    color: #FFC200;
}

.mission .missionPara p:nth-child(2){
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px 20px 0 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.mission .missionPara p:nth-child(3){
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 0 20px 20px 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.values{
    width:100%;
    height:100vh;
    padding-top:100px;
    /* border:1px solid blue; */
    text-align: center;
    min-height: 1000px;
}

.values h3{
    font-size: 2.7em;
    /* width: 645px; */
    padding:20px;
    color: #242423; 
}

.values span{
    color: #FFC200;
}

.values p{
    width: 800px;
    margin:auto;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.values .valueGrid{
    display: grid;
    grid-template-columns: repeat(3, 400px);
    /* border: 1px solid black; */
    padding: 0 10%;
    justify-content: space-evenly;
    margin-top: 30px;
}

.values div{
    /* border: 1px solid red; */
}

.values .valueGrid img{
    height: 184px;
    width:184px;
}

.values .valueGrid h4{
    font-size: 1.6em;
    padding-top: 40px;
    color: #242423;
}

.values .valueGrid p{
    width:100%;
    /* border:1px solid blue; */
}

.vision{
    width:100%;
    height:100vh;
    min-height: 1000px;
    /* border:1px solid pink; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
}

.vision::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.vision img{
    /* border: 1px solid red; */
    width: 620px;
    height:410px;
    position: relative;
}

.vision .visionPara{
    /* border: 1px solid navy; */
    position: relative;
    left: -50%;
    transform: translateX(50%);
}

.vision .visionPara h3{
    font-size: 2.7em;
    width: 645px;
    padding:20px;
    color: #242423;
}

.vision .visionPara span{
    color: #FFC200;
}

.vision .visionPara p:nth-child(2){
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px 20px 0 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.vision .visionPara p:nth-child(3){
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 0 20px 20px 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.team{
    width:100%;
    height:100vh;
    min-height: 1000px;
    /* border:1px solid purple; */
}

.team{
    width:100%;
    height:100vh;
    /* border:1px solid orange; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    position: relative;
}

.team img{
    /* border: 1px solid red; */
    width: 620px;
    height:410px;
    position: relative;
}

.team .teamPara{
    /* border: 1px solid navy; */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.team .teamPara h3{
    font-size: 2.7em;
    width: 645px;
    padding:20px;
    color: #242423;
}

.team .teamPara span{
    color: #FFC200;
}

.team .teamPara p{
    width: 650px;
    font-size: 1.2em;
    font-family: 'Merriweather';
    margin-top: 0px;
    padding: 20px;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.founders{
    width:100%;
    height:100vh;
    min-height: 1000px;
    /* border:1px solid cyan; */
    position: relative;
    display: none;
}

.founders::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.founders .foundersPara h3{
    font-size: 2.7em;
    padding:40px 5% 20px 5%;
    color: #242423;
}

.founders .foundersPara p{
    font-size: 1.2em;
    font-family: 'Merriweather';
    /* margin-top: 0px; */
    padding: 0 5%;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.founders .foundersLayout{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 480px);
    padding: 0 5%;
    justify-content: space-between;
}

.founders .foundersLayout div{
    /* border: 1px solid red; */
    height: 640px;
    border-left: 20px solid #FFC200;
}

.founders .foundersLayout .cardContent{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: transparent;
    border-left: none;
    left: -100%;
    z-index: 1000;
    transition: .3s left ease-in-out;
}

.founders .foundersLayout .cardContent h3{
    font-size: 1.9em;
    color: #242423;
    padding: 20px 30px 20px 10px;
}

.founders .foundersLayout .cardContent p{
    padding: 0px 30px 0px 10px;
    color: #242423;
    opacity: .5;
    font-size: 1.3em;
    font-family: 'Merriweather';
    line-height: 35px;
}

.founders .foundersLayout #f1
{
    background-image: url("images/andrew.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.founders .foundersLayout #f1::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    transition: .2s all ease-out;
    z-index: 3;
}

.founders .foundersLayout #f1:hover
{
    animation: .1s makeBig forwards;
}

.founders .foundersLayout #f1:hover .cardContent
{
    left: 0;
}

.founders .foundersLayout #f1:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.founders .foundersLayout #f2
{
    background-image: url("images/qmjc1fc6.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.founders .foundersLayout #f2::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    transition: .2s all ease-out;
}

.founders .foundersLayout #f2:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.founders .foundersLayout #f2:hover
{
    animation: .1s makeBig forwards;
}

.founders .foundersLayout #f2:hover .cardContent
{
    left: 0;
}

.founders .foundersLayout #f3
{
    background-image: url("images/17llxyyr.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.founders .foundersLayout #f3::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    transition: .2s all ease-out;
}

.founders .foundersLayout #f3:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.founders .foundersLayout #f3:hover
{
    animation: .1s makeBig forwards;
}

.founders .foundersLayout #f3:hover .cardContent
{
    left: 0;
}

.creativeTeam{
    width:100%;
    height:2300px;
    min-height: 1000px;
    /* border:1px solid navy; */
    position: relative;
}

.creativeTeam .creativePara h3{
    font-size: 2.7em;
    padding:40px 5% 20px 5%;
    color: #242423;
}

.creativeTeam .creativePara p{
    font-size: 1.2em;
    font-family: 'Merriweather';
    /* margin-top: 0px; */
    padding: 0 5%;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.creativeTeam .creativeGroup{
    max-height: 780px;
    /* max-width: 1000px; */
    position: relative;
    height: 30%;
    width: 90%;
    background-color: lightgrey;
    margin: 30px 5% 40px 5%;
    border-left: 20px solid #134E78;
    background-image: url("images/AYY_1732.JPG");
    background-size: cover;
    background-position: center top;
}

#creativeGroup{
    height: 90%;
    width: 90%;
    max-height: 840px;
    max-width: 90%;
}

.creativeTeam .creativeLayout{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 450px);
    padding: 0 5%;
    justify-content: space-between;
    grid-gap: 50px;
}

.creativeTeam .creativeLayout .cardContent{
    position: absolute;
    width: 100%;
    height:100%;
    background-color: transparent;
    border-left: none;
    left: -100%;
    z-index: 1000;
    transition: .3s left ease-in-out;
}

.creativeTeam .creativeLayout .cardContent h3{
    font-size: 1.9em;
    color: #FFFFFF;
    padding: 20px 30px 20px 10px;
}

.creativeTeam .creativeLayout .cardContent p{
    padding: 0px 30px 0px 10px;
    color: #FFFFFF;
    opacity: .5;
    font-size: 1.3em;
    font-family: 'Merriweather';
    line-height: 35px;
}


.creativeTeam .creativeLayout div{
    /* border: 1px solid red; */
    height: 640px;
    border-left: 20px solid #134E78;
    position: relative;
    transition: all .3s ease-in-out;
}

.creativeTeam .creativeLayout .createCard:hover{
    transform: translateY(-5px);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.creativeTeam .creativeLayout #c1
{
    background-image: url("images/AYY_1816.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.creativeTeam .creativeLayout #c1::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

.creativeTeam .creativeLayout #c1:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c1:hover
{
    animation: .2s makeBig forwards;
}

.creativeTeam .creativeLayout #c1:hover .cardContent
{
    left: 0;
    /* top: 5px; */
    transition: 0.3s all ease-in-out;
}

.creativeTeam .creativeLayout #c2
{
    background-image: url("images/AYY_1866.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.creativeTeam .creativeLayout #c2::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

.creativeTeam .creativeLayout #c2:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c2:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

.creativeTeam .creativeLayout #c2:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

.creativeTeam .creativeLayout #c3
{
    background-image: url("images/lp5plk56.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.creativeTeam .creativeLayout #c3::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

.creativeTeam .creativeLayout #c3:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c3:hover
{
    animation: .2s makeBig forwards;
}

.creativeTeam .creativeLayout #c3:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

.creativeTeam .creativeLayout #c4
{
    background-image: url("images/AYY_1826.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.creativeTeam .creativeLayout #c4::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

.creativeTeam .creativeLayout #c4:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c4:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

.creativeTeam .creativeLayout #c4:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

.creativeTeam .creativeLayout #c5
{
    background-image: url("images/AYY_1961.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.creativeTeam .creativeLayout #c5::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

.creativeTeam .creativeLayout #c5:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c5:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

.creativeTeam .creativeLayout #c5:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

.creativeTeam .creativeLayout #c6
{
    background-image: url("images/AYY_1921.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.creativeTeam .creativeLayout #c6::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

.creativeTeam .creativeLayout #c6:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

.creativeTeam .creativeLayout #c6:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

.creativeTeam .creativeLayout #c6:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#editorialGroup{
    background-image: url("images/AYY_1707.JPG");
    background-position: center center;
}

#editorialTeam{
    height: 3100px;
}

#editorialTeam #c1
{
    background-image: url("images/AYY_1985.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#editorialTeam #c1::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#editorialTeam #c1:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#editorialTeam #c1:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#editorialTeam #c1:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#editorialTeam #c2
{
    background-image: url("images/AYY_1832.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#editorialTeam #c2::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#editorialTeam #c2:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#editorialTeam #c2:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#editorialTeam #c2:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#editorialTeam #c3
{
    background-image: url("images/AYY_1802.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#editorialTeam #c3::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#editorialTeam #c3:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#editorialTeam #c3:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#editorialTeam #c3:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#editorialTeam #c4
{
    background-image: url("images/AYY_1884.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#editorialTeam #c4::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#editorialTeam #c4:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#editorialTeam #c4:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#editorialTeam #c4:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#editorialTeam #c5
{
    background-image: url("images/annie-spratt-MChSQHxGZrQ-unsplash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#editorialTeam #c5::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#editorialTeam #c5:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#editorialTeam #c5:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#editorialTeam #c5:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#editorialTeam #c6
{
    background-image: url("images/AYY_1949.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#editorialTeam #c6::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#editorialTeam #c6:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#editorialTeam #c6:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#editorialTeam #c6:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#editorialTeam #c7
{
    background-image: url("images/AYY_1985.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    visibility: hidden;
}
#editorialTeam #c7::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#editorialTeam #c7:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#editorialTeam #c7:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#editorialTeam #c7:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}


#editorialTeam #c8
{
    background-image: url("images/AYY_1898.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#editorialTeam #c8::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#editorialTeam #c8:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#editorialTeam #c8:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#editorialTeam #c8:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#editorialTeam #c9
{
    background-image: url("images/AYY_1985.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    visibility: hidden;
}

#researchTeam{
    height: 3100px;
}

#researchGroup{
    background-image: url("images/AYY_1761.JPG");
    background-position: center top;
}

#researchTeam #c1
{
    background-image: url("images/AYY_1846.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#researchTeam #c1::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c1:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c1:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c1:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#researchTeam #c2
{
    background-image: url("images/AYY_1782.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#researchTeam #c2::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c2:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c2:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c2:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#researchTeam #c3
{
    background-image: url("images/AYY_1894.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#researchTeam #c3::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c3:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c3:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c3:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#researchTeam #c4
{
    background-image: url("images/AYY_1957.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#researchTeam #c4::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c4:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c4:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c4:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#researchTeam #c5
{
    background-image: url("images/AYY_1875.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#researchTeam #c5::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c5:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c5:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c5:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#researchTeam #c6
{
    background-image: url("images/AYY_1999.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#researchTeam #c6::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c6:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c6:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c6:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#researchTeam #c7
{
    background-image: url("images/AYY_1810.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /* visibility: hidden; */
}
#researchTeam #c7::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c7:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c7:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c7:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}


#researchTeam #c8
{
    background-image: url("images/AYY_1911.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

#researchTeam #c8::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c8:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c8:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c8:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

#researchTeam #c9
{
    background-image: url("images/AYY_1794.JPG");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    /* visibility: hidden; */
}

#researchTeam #c9::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #134E78;
    transition: .3s all ease-out;
}

#researchTeam #c9:hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #134E78;
}

#researchTeam #c9:hover
{
    animation: .2s makeBig forwards;
    /* transform: translateY(10px); */
}

#researchTeam #c9:hover .cardContent
{
    left: 0;
    transition: 0.3s all ease-in-out;
}

.editorialTeam{
    width:100%;
    height:100vh;
    min-height: 1000px;
    /* border:1px solid yellowgreen; */
    position: relative;
    display: none;
}



.editorialTeam::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.editorialTeam .editorialPara h3{
    font-size: 2.7em;
    padding:40px 5% 20px 5%;
    color: #242423;
}

.editorialTeam .editorialPara p{
    font-size: 1.2em;
    font-family: 'Merriweather';
    /* margin-top: 0px; */
    padding: 0 5%;
    line-height: 35px;
    color: #242423;
    opacity: .5;
}

.editorialTeam .editorialLayout{
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(3, 480px);
    padding: 0 5%;
    justify-content: space-between;
}

.editorialTeam .editorialLayout div{
    /* border: 1px solid red; */
    height: 640px;
    border-left: 20px solid #FFC200;
}

.editorialTeam .editorialLayout div:nth-child(1)
{
    background-image: url("images/amy-hirschi-b3AYk8HKCl0-unsplash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;

    transition: 2s background ease-in;

    /* animation: 1s makeSmall forwards; */
}

.editorialTeam .editorialLayout div:nth-child(1)::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    transition: .2s all ease-out;

}

.editorialTeam .editorialLayout div:nth-child(1):hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.editorialTeam .editorialLayout div:nth-child(1):hover
{
    animation: .1s makeBig forwards;
}

@keyframes makeBig{
    0%{
        background-size: cover;
    }
    20%{
        background-size: 105% 105%;
    }
    40%{
        background-size: 110% 110%;
    }
    60%{
        background-size: 115% 115%;
    }
    80%{
        background-size: 120% 120%;
    }
    100%{
        background-size: 125% 125%;
    }
}

/* @keyframe makeSmall{
    0%{
        background-size: 125% 125%;
    }
    20%{
        background-size: 120% 120%;
    }
    40%{
        background-size: 115% 115%;
    }
    60%{
        background-size: 110% 110%;
    }
    80%{
        background-size: 105% 105%;
    }
    100%{
        background-size: cover;
    }

} */

.editorialTeam .editorialLayout div:nth-child(2)
{
    background-image: url("images/guogete-uKtJE8LV4z8-unsplash.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.editorialTeam .editorialLayout div:nth-child(2)::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    transition: .2s all ease-out;
}

.editorialTeam .editorialLayout div:nth-child(2):hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.editorialTeam .editorialLayout div:nth-child(2):hover
{
    animation: .1s makeBig forwards;
}

.editorialTeam .editorialLayout div:nth-child(3)
{
    background-image: url("images/demorris-byrd-K8RAfoZxoYI-unsplash.png");
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}


.editorialTeam .editorialLayout div:nth-child(3)::after
{
    content:'';
    position: absolute;
    top:0;
    left:-100%;
    width:100%;
    height: 100%;
    background-color: #FFC200;
    transition: .2s all ease-out;
}

.editorialTeam .editorialLayout div:nth-child(3):hover::after
{
    content:'';
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    background-color: #FFC200;
}

.editorialTeam .editorialLayout div:nth-child(3):hover
{
    animation: .1s makeBig forwards;
}

footer{
    width:100%;
    height:40vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    place-items: center;
}

footer img{
    height: 46px;
    width: 90px;
    margin-top: 70px;
}

footer .navList{
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

footer .navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px;
    z-index: -1;
    float: left;
    font-weight: 400;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
    font-weight: bold;
}

footer .navItem:nth-child(2)
{
    font-weight: bold;
}

footer .navItem:nth-child(2)::after{
    width: 1%;
    border-color: transparent;
}

footer .navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -11px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

footer .navItem:hover::after{
    width: 55%;
    border-color: #FFC200;
}

footer .social i{
    font-size: 2em;
    color: rgb(121, 121, 121);
    margin: 0 15px;
    transition: .3s all ease-out;
}

footer .social i:hover{
    color: #FFC200;
}

.lineBreak{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(228, 228, 228);
}

@media (max-width: 1700px){
    nav{
        /* background-color: red; */
    }
    .founders{
        height: 2300px;
        overflow-y: hidden; 
    }
    .founders .foundersLayout{
        grid-template-columns: repeat(1, 450px);
        /* height: 2050px; */
    }
    .founders .foundersLayout div{
        margin-bottom: 30px;
        overflow-y: hidden; 
        /* display: inline-block;  */
    }
    .founders .foundersLayout{
        /* border: 1px solid red; */
        /* place-items: center; */
        /* align-items: center; */
        /* align-content: center; */
        justify-content: center;
        /* text-align: center; */
    }
    .creativeTeam{
        height: 3125px;
        overflow-y: hidden;
    }
    .creativeTeam .creativeLayout{
        grid-template-columns: repeat(2, 450px);
        justify-content: space-around;

        /* height: 2050px; */
    }
    .creativeTeam .creativeLayout div{
        margin-bottom: 30px;
        overflow-y: hidden; 
        /* display: inline-block;  */
    }
    .creativeTeam .creativeLayout{
        /* border: 1px solid red; */
        /* place-items: center; */
        /* align-items: center; */
        /* align-content: center; */
        /* justify-content: center; */
        /* text-align: center; */
    }
    #editorialTeam{
        height: 3900px;
    }
    #editorialTeam #c7{
        display: none;
    }
    #researchTeam{
        height: 4625px;
    }
}

@media (max-width: 1500px){
    .wrapper nav{
        /* background-color: rgb(167, 167, 167); */
    }
    .wbr{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        place-items: center;
    }
    .wbr img{
        margin-bottom: 0;
        padding-bottom: 0;
    }
    .wrapper .wbr .wbrPara{
        width: 100%;
        padding-top: 0;

    }
    .wbr .wbrPara p{
        /* width: 100%;
        border: 1px solid blue; */
        text-align: center;
        position: relative;
        width: 80%;
        margin: auto;
    }
    .wbr .wbrPara h3{
        /* width: 100%;
        border: 1px solid purple; */
        text-align: center;
        width: 80%;
        margin: auto;
    }
    .mission{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .mission .missionPara{
        left: 0%;
        transform: translateX(0%);
        text-align: center;
    }
    .vision{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .vision .visionPara{
        left: 0%;
        transform: translateX(0%);
        text-align: center;
    }
    .team{
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    .team .teamPara{
        left: 0%;
        transform: translateX(0%);
        text-align: center;
    }
}

@media (max-width: 1200px){
    nav{
        /* background-color: green; */
    }
    .values .valueGrid{
        grid-template-columns: repeat(1, 1fr);
    }
    .values .valueGrid img{
        width: 80px;
        height: 80px;
    }
    .values{
        height: 1200px;
    }
    .values p{
        max-width: 90%;
    }
    .vision .visionPara p{
        width: 90%;
    }
    .founders{
        height: 2400px;
    }

}

@media (max-width: 1100px){
    .creativeTeam .creativeLayout{
        grid-template-columns: repeat(1, 450px);
        justify-content: space-around;
    }
    .creativeTeam .creativeGroup{
        height: 500px;
    }
    .creativeTeam{
        height: 5025px;
    }
    #editorialTeam{
        height: 5800px;
    }

    #researchTeam{
        height: 7250px;
    }
}

@media (max-width: 750px){
    nav{
        /* background-color: purple; */
    }
    .main .ourStory h2{
        font-size: 3.5em;
    }
    nav .navList .navItem{
        margin-right: 0;
        margin-left: 0;
    }
    .main .ourStory p{
        font-size: 1.1em;
    }
    .values{
        height: 1300px;
    }
    .founders{
        height: 2450px;
    }
    .wbr .wbrPara{
        /* max-width: 70%; */
        /* margin-left: 30%; */
        /* left: 50%; */
        /* transform: translateX(-50%); */
    }
    .wbr .wbrPara p{
        /* width: 100%;
        border: 1px solid blue; */
        text-align: center;
        position: relative;
        width: 100%;
        /* margin: auto; */
    }
    .wbr .wbrPara h3{
        /* width: 100%;
        border: 1px solid purple; */
        text-align: center;
        width: 100%;
        /* margin: auto; */
    }
    .wbr img{
        height: 90%;
        width: 90%;
    }
    .mission .missionPara h3{
        width: 100%;
    }
    .mission .missionPara{
        /* border: 1px solid red; */
        width: 100%;
    }
    .mission .missionPara p{
        text-align: center;
        /* position: relative; */
        width: 100%;
    }
    .mission .missionPara p:nth-child(2){
        text-align: center;
        max-width: 100%;
    }
    .mission .missionPara p:nth-child(3){
        text-align: center;
        max-width: 100%;
    }
    .mission img{
        width: 90%;
        height: 90%;
    }
    .vision .visionPara h3{
        width: 100%;
    }
    .vision .visionPara{
        /* border: 1px solid red; */
        width:100%;
    }
    .vision .visionPara p{
        text-align: center;
        width: 100%;
    }
    .vision .visionPara p:nth-child(2){
        text-align: center;
        max-width: 100%;
    }
    .vision .visionPara p:nth-child(3){
        text-align: center;
        max-width: 100%;
    }
    .vision img{
        width: 90%;
        height: 90%;
    }


    .team .teamPara p{
        /* width: 100%;
        border: 1px solid blue; */
        text-align: center;
        position: relative;
        width: 100%;
        /* margin: auto; */
    }
    .team .teamPara h3{
        /* width: 100%;
        border: 1px solid purple; */
        text-align: center;
        width: 100%;
        /* margin: auto; */
    }
    .team img{
        height: 90%;
        width: 90%;
    }

}

@media (max-width: 525px){
    nav{
        /* background-color: red; */
    }
    .main .ourStory{
        max-width: 80%;
    }
    .social a{
        /* right: -10%; */
        display: none;
        /* border: 1px solid red; */
    }
    .catchContainer{
        width: 95%;
    }
    .labelHolder label{
        display: none;
    }
    /* .social */
    .recent h3{
        /* margin-right: 20px; */
    }
    .recent .cardLayout{
        padding: 0;
    }
    .insights .cardLayout{
        padding: 0;
    }
    .network .cardLayout{
        padding: 0;
    }
    .values{
        height: 1350px;
    }
    .founders{
        height: 2500px;
    }
    .wbr .wbrPara{
        /* max-width: 100%; */
        max-width: 500px;
        margin-left: 0%;
        /* padding: 20px; */
        /* margin-left: 30%; */
        /* left: 50%; */
        /* transform: translateX(-50%); */
    }
    .wbr .wbrPara p{
        /* width: 100%;
        border: 1px solid blue; */
        text-align: center;
        position: relative;
        width: 100%;
        /* margin: auto; */
    }
    .wbr .wbrPara h3{
        /* width: 100%;
        border: 1px solid purple; */
        text-align: center;
        width: 100%;
        /* margin: auto; */
    }
    .team .teamPara{
        /* max-width: 100%; */
        max-width: 500px;
        margin-left: 0%;
        /* padding: 20px; */
        /* margin-left: 30%; */
        /* left: 50%; */
        /* transform: translateX(-50%); */
    }
    .team .teamPara p{
        /* width: 100%;
        border: 1px solid blue; */
        text-align: center;
        position: relative;
        width: 100%;
        /* margin: auto; */
    }
    .team .teamPara h3{
        /* width: 100%;
        border: 1px solid purple; */
        text-align: center;
        width: 100%;
        /* margin: auto; */
    }
}

