*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    max-width: 2200px;
    margin: 0 auto;
    overflow: hidden;
}

nav{
    height: 12vh;
    min-height: 115px;
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0 2%;
    max-height: 120px;
    max-width: 2100px;
    margin: 0 auto;
    z-index: 100000000000;
}

.navDisplay{
    height: 100vh;
    min-height: 900px;
    width: 0;
    background-color: rgb(31, 30, 30);
    opacity: 0.90;
    z-index: 100000000;
    position: absolute;    
    /* transform: translateX(-100%); */
    left: -120%;
    /* transition: 0.5s ease-in-out all; */
    overflow: hidden;
    /* display: none; */
}

.navDisplay .navList-display{
    list-style: none;
    text-align: center;
    position: relative;
    opacity: 1.0;
    top: 15vh;
    width: 200px;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid red; */
    /* color: white; */
}

.navDisplay .navList-display li{
    padding: 10px 20px;    
}

.navDisplay .navItem-display{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    z-index: -1;
    /* float: left; */
    font-weight: 400;
    font-size: 18px;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
}

.navDisplay .navItem-display::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -12px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

.navDisplay .navItem-display:hover::after{
    width: 55%;
    border-color: #FFC200;
}

.navDisplay .navList-display li a{
    text-decoration: none;
    color: white;
}

#navImg{
    width:90px;
    height:46px;
}

#navLogo{
    margin-top: 0;
}

#navLogo::after{
    display: none;
}

nav .navList{
    list-style: none;
    display: inline-block;
    /* margin-top: 20px; */
    text-align: center;
    /* border: 1px solid red; */
    width: 98%;
    /* height: 100%; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    z-index: -1;
    float: left;
    font-weight: 400;
    font-size: 18px;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
}

.navItem a{
    text-decoration: none;
    color: #111111;
}

.navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -14px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

.navItem:hover::after{
    width: 55%;
    border-color: #FFC200;
}

#bars{
    display: none;
    font-size: 1.4em;
    position: absolute;
    right: 0;
    /* transition: 1s ease-in-out display; */
}

#cancel{
    display: none;
    font-size: 1.4em;
    position: absolute;
    right: 0;
}

#bars:hover{
    /* color: white; */
    /* font-size: 1.7em; */
    color: #FFC200;
}

#cancel:hover{
    /* color: white; */
    /* font-size: 1.7em; */
    color: #FFC200;
}

#bars:hover::after{
    width: 1%;
    border-color: transparent;
    /* display: none; */
}

#cancel:hover::after{
    width: 1%;
    border-color: transparent;
    /* display: none; */
}

.main{
    width: 100%;
    height: 100vh;
    /* padding-top: 40vh; */
    background-image: url("images/btb-cover-main.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    transition: 1s ease-in-out background-image;
    /* background-attachment */
    /* position: relative; */
    max-height: 1000px;
    overflow: hidden;
}

.cardLayout .card .headLink, .cardLayout .card .headLink:visited{
    color: black;
}


.main .social{
    position: absolute;
    /* border: 1px solid red; */
    /* height: 200px; */
    /* width: 100px; */
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    right: 0;
    margin-right: 5%;
}

.main .social i{
    position: relative;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    transition: .3s all ease-out;

}

.main .social i:hover{
    color: #FFC200;
}

#downA{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
    padding: 5px 8px;
}

.catchContainer{
    position: relative;
    max-width: 1275px;
    /* border: 1px solid white; */
    width: 75%;
    margin-left: 8%;
    /* height: 450px; */
    /* bottom: 120px; */
    transition: 0.8s top ease-in-out;
    top: 60%;
}

.catchArticle .about{
    font-size: 1.1em;
    color: #FFC200;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.2em;
}

.catchArticle #readTime{
    color: #FFFFFF;
    opacity: .3;
    font-size: 1em;
    line-height: 1.2em;
    vertical-align: center;
    display: inline-block;
    margin-left: 20px;
}

.catchArticle .date{
    color: #FFFFFF;
    opacity: .5;
    font-size: 1em;
}

.catchArticle .headline{
    color: #FFFFFF;
    font-size: 4em;
    text-transform: uppercase;
}

.catchArticle .byLine{
    color: rgb(194, 194, 194);
    font-size: 1.4em;
    opacity: 0.7;
    margin-bottom: 7px;
}

.articleBody{
    margin: 0 8%;
}

.articleBody .bold{
    font-weight: bold;
}

.articleBody h3{
    font-size: 1.4em;
    color: #242423;
    letter-spacing: 1.1px;
    margin-top: 50px;
    opacity: .8;
}

.articleBody p{
    margin-top: 40px;
    font-size: 20px;
    letter-spacing: 1.2px;
    font-family: 'Merriweather';
    line-height: 35px;
    color: #242423;
    opacity: .8;
}

.articleBody .singleImage {
    width: 100%;
}

.articleBody .imageContainer1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* border: 1px solid red; */
    max-width: 1000px;
    margin: auto;
    justify-items: center;
    padding-top: 40px;
}

.articleBody .imageContainer1 img{
    display: block;
    width: 100%;
    max-width: 300px;
}

.articleBody #reformTimeline{
    max-width: 400px;
    /* width: 400px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.articleBody #warEscalation{
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.articleBody #chinaGDP{
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.articleBody #privateSector{
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.articleBody #chinasPlan{
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.articleBody #chinaVenn{
    max-width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

/* ******* */

.articleBody #legalizationTimeline{
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: -10px;
}

.articleBody #blackMarket{
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: -40px;
    /* border: 1px solid red; */
}

.articleBody #habitStats{
    max-width: 500px;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

.articleBody #cannabisPrices{
    max-width: 700px;
    display: block;
    margin: 0 auto;
    /* margin-top: 40px; */
    margin-top:-80px;
    margin-bottom: -140px;
    /* border:1px solid red; */
}

.articleBody #cannabisPrice2{
    max-width: 700px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: -10px;
}

.articleBody a, .articleBody a:visited{
    color: #0000EE;
}

.cardReadMore a{
    text-decoration: none;
    color: black;
}

.mobileHeading{
    display: none;
}

#bibli{
    margin-bottom: 30px;
}

.citationList li{
    line-height: 30px;
    font-size: 12px;
    /* border: 1px solid red; */
}

.citationList li a, .citationList li a:visited{
    color: #0000EE;
}

.recent{
    width:100%;
    height: 100vh;
    min-height: 900px;
    max-height: 1000px;
    
}

.recent h3{
    font-size: 1.4em;
    font-weight: 800;
    position: relative;
    left: 10%;
    padding-top: 80px;
}

.recent .cardLayout{
    display: grid;
    grid-template-columns: repeat(3, 27%);
    grid-gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 10%;
}

.recent .cardLayout .restrict{
    max-height: 280px;
    /* border: 1px solid blue; */
    overflow-y:hidden;
}

.recent .cardLayout .card{
    min-height: 650px;
    height:650px;
    position: relative;
    border: 1px solid lightgrey;
    transition: all .3s ease-in-out;
}

.recent .cardLayout .card:hover{
    border: 1px solid darkgrey;
    /* box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5); */
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.recent .cardLayout .card .cardImage{
    background-image: url("https://source.unsplash.com/random/200x200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:45%;
    width:100%;
}

.articleBody footer a, .articleBody footer a:visited{
    color: black;
}

.recent .cardLayout .card:nth-child(1) .cardImage{
    background-image: url("images/Cover\ Photo.png");
}

.recent .cardLayout .card:nth-child(2) .cardImage{
    background-image: url("images/5d96bafe754caa057a3a3bab.jpeg");
}

.recent .cardLayout .card:nth-child(3) .cardImage{
    background-image: url("images/mika-baumeister-gwWkv06WYFY-unsplash.jpg");
}

.recent .cardLayout .card .cardContent{
    padding: 20px;
}

.recent .cardLayout .card .cardContent h4{
    font-size:1.4em;
    font-weight: 800;
}

.recent .cardLayout .card .cardContent p{
    line-height: 1.5em;
    color: rgb(168, 168, 168);
    padding-top: 10px;
    padding-bottom: 15px;
    /* border: 1px solid red; */
}

.recent .cardLayout .card .cardContent .cardReadMore{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
    float: left;
}

.recent .cardLayout .card .cardContent .cardReadTime{
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding: 0;
}

.recent .cardLayout .card .cardContent .cardReadMore i{
    padding-left: 8px;
    font-size: 1.1em;
}

footer{
    width:100%;
    height:40vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    min-height: 400px;
    max-height: 400px;
}

footer img{
    height: 46px;
    width: 90px;
    margin-top: 70px;
}

footer .navList{
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

footer .navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px;
    z-index: -1;
    float: left;
    font-weight: 400;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
    font-weight: bold;
}

footer .navItem:nth-child(2)
{
    font-weight: bold;
}

footer .navItem:nth-child(2)::after{
    width: 1%;
    border-color: transparent;
}

footer .navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -11px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

footer .navItem:hover::after{
    width: 55%;
    border-color: #FFC200;
}

footer .social i{
    font-size: 2em;
    color: rgb(121, 121, 121);
    margin: 0 15px;
    transition: .3s all ease-out;
}

footer .social i:hover{
    color: #FFC200;
}

.lineBreak{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(228, 228, 228);
}

@media (max-width: 1600px){
    .recent .cardLayout{
        grid-template-columns: repeat(3, 30%);
    }
}

@media (max-width: 1500px){
    nav .navList .navItem{
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 1100px){
    .catchContainer{
        /* border-color: red; */
        top: 50%;
    }
    .catchContainer .headline{
        font-size: 3em;
    }
    .articleBody .imageContainer{
        /* border: 1px solid red; */
        height: 300px;
        /* grid-template-columns: repeat(2, 40%); */
    }
    .articleBody .imageContainer #img1{
        /* width: 100%; */
        /* background-size: cover; */
        height: 300px;
    }
    .articleBody .imageContainer #img2{
        /* width: 40%; */
        height: 300px;
    }
    .recent{
        min-height: 1200px;
    }
    .recent h3{
        width: 420px;
        margin: auto;        
        /* border: 1px solid red; */
        left: 0;
        padding-top: 50px;
    }
    .recent .cardLayout{
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(3, 100vh); */
    }
    .recent .cardLayout .card{
        width: 420px;
        margin: auto;
        margin-bottom: 5%;
    }

    .mobileHeading{
        position: absolute;
        background-color: white;
        display: inline-block;
        max-width: 75%;
        bottom: 5%;
        right: 5%;
        font-size: 1.2rem;
        padding: 12px;
        text-align: right;
        border-radius: 10px;
    }

    .mobileHeading a{
        text-decoration: none;
        color: black;
    }
    
    .cardContent{
        display: none;
    }

    .recent .cardLayout .card{
        min-height: 292.5px;
        height: 292.5px;
        cursor: pointer;
        border-radius: 10px;
        border-color: transparent;
    }

    .recent .cardLayout .card .cardImage{
        height: 100%;
    }

    .recent .cardLayout .card:hover{
        border: none;
    }
}

@media (max-width: 750px){
    .catchContainer{
        /* border-color: blue; */
        top: 40%;
    }
    .catchContainer .headline{

    }
    .articleBody .imageContainer{
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 20px;
        height: 620px;
        overflow: hidden;
    }
    .articleBody .imageContainer #img1{
        /* width: 100%; */
        /* background-size: cover; */
        transform: none;
        left: 0;
        right: 0;
    }
    .articleBody .imageContainer #img2{
        /* width: 40%; */
        height: 300px;
        transform: none;
        left: 0;
        right: 0;

    }

}

@media (max-width: 625px){
    nav .navMain{
        display: none;
    }

    .navList #bars{
        display: block;
    }

    #bars{
        display: block;
    }

    .main .social a{
        /* right: -10%; */
        display: none;
        /* border: 1px solid red; */
    }
}

@media (max-width: 525px){
    .recent .cardLayout{
        padding: 0;
    }
    .insights .cardLayout{
        padding: 0;
    }
    .network .cardLayout{
        padding: 0;
    }
    .resources .cardLayout{
        padding: 0;
    }


    .recent h3{
        margin-left: 10%;
    }

    .recent .cardLayout .card{
        width: 80%;
    }

    footer .navList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
        z-index: 9;
    }

    footer .navList .navItem{
        z-index: 10;
    }

    footer .navList .navItem:hover{
        color: #FFC200;
    }
    
    footer .navList .navItem::after{
        display: none;
    }

    footer .navList .navItem::after:hover{
        display: none;
    }
}

@media (max-width: 550px){
    .catchContainer{
        /* border-color: green; */
        width: 90%;
    }
    .catchContainer .headline{
        font-size: 2.5rem;
    }
    .main .social a{
        display: none;
    }

    .articleBody .imageContainer1{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
    }
}

@media (max-width: 400px){
    .main .articleSlider{
        height: 700px;
        top: 300px;
        overflow: hidden;
    }

    .catchArticle{
        height: 700px;
    }

    .catchArticle .headline{
        font-size: 2.5rem;
    }
}