*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

body{
    font-family: 'Lato', sans-serif;
    /* max-width: 2000px; */
    /* margin: auto; */
    max-width: 2200px;
    margin: 0 auto;
    overflow: hidden;
}

nav{
    height: 12vh;
    min-height: 115px;
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    padding: 0 2%;
    overflow: hidden;
    z-index: 100000000000;
    max-width: 2100px;
    margin: 0 auto;
    max-height: 120px;
    /* background-color: lightblue; */
}

.navDisplay{
    height: 100vh;
    min-height: 900px;
    width: 0;
    background-color: rgb(31, 30, 30);
    opacity: 0.90;
    z-index: 100000000;
    position: absolute;    
    /* transform: translateX(-100%); */
    left: -120%;
    /* transition: 0.5s ease-in-out all; */
    overflow: hidden;
    /* display: none; */
}

.navDisplay .navList-display{
    list-style: none;
    text-align: center;
    position: relative;
    opacity: 1.0;
    top: 15vh;
    width: 200px;
    margin: auto;
    overflow: hidden;
    /* border: 1px solid red; */
    /* color: white; */
}

.navDisplay .navList-display li{
    padding: 10px 20px;    
}

.navDisplay .navItem-display{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    z-index: -1;
    /* float: left; */
    font-weight: 400;
    font-size: 18px;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
}

.navDisplay .navItem-display::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -12px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

.navDisplay .navItem-display:hover::after{
    width: 55%;
    border-color: #FFC200;
}

.navDisplay .navList-display li a{
    text-decoration: none;
    color: white;
}

#navImg{
    width:90px;
    height:46px;
}

#navLogo{
    margin-top: 0;
}

#navLogo::after{
    display: none;
}

nav .navList{
    list-style: none;
    display: inline-block;
    /* margin-top: 20px; */
    text-align: center;
    /* border: 1px solid red; */
    width: 98%;
    /* height: 100%; */
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

.navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 10px;
    z-index: -1;
    float: left;
    font-weight: 400;
    font-size: 18px;
    /* border: 1px solid red; */
    margin-top:10px;
    cursor: pointer;
}

.navItem a{
    text-decoration: none;
    color: #111111;
}

.navItem:nth-child(2)
{
    font-weight: bold;
}

.navItem:nth-child(2)::after{
    width: 55%;
    border-color: #FFC200;
}

.navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -14px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

.navItem:hover::after{
    width: 55%;
    border-color: #FFC200;
}

#bars{
    display: none;
    font-size: 1.4em;
    position: absolute;
    right: 0;
    /* transition: 1s ease-in-out display; */
}

#cancel{
    display: none;
    font-size: 1.4em;
    position: absolute;
    right: 0;
}


#bars:hover{
    /* color: white; */
    /* font-size: 1.7em; */
    color: #FFC200;
}

#cancel:hover{
    /* color: white; */
    /* font-size: 1.7em; */
    color: #FFC200;
}

#bars:hover::after{
    width: 1%;
    border-color: transparent;
    /* display: none; */
}

#cancel:hover::after{
    width: 1%;
    border-color: transparent;
    /* display: none; */
}

.main{
    width: 100%;
    height: 100vh;
    min-height: 900px;
    /* padding-top: 40vh; */
    background-image: url("images/disneyDark.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-color: black;
    background-size: contain;
    transition: 1s ease-in-out background-image;
    /* background-attachment */
    /* border: 1px solid red; */
    position: relative;
    max-height: 1000px;
    overflow: hidden;
}

.main .social{
    position: absolute;
    /* border: 1px solid red; */
    /* height: 200px; */
    /* width: 100px; */
    bottom: 50%;
    transform: translateY(50%);
    display: flex;
    flex-direction: column;
    right: 0;
    margin-right: 5%;
}

.main .social i{
    position: relative;
    font-size: 25px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    transition: .3s all ease-out;
}

.main .social i:hover{
    color: #FFC200;
}

#downA{
    color: white;
    font-size: 30px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    /* border: 1px solid red; */
    padding: 5px 8px;
    cursor: pointer;
    /* z-index: 2; */
}

.main .articleSlider{
    /* border: 1px solid red; */
    position: relative;
    height: 350px;
    top: 48%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* padding-left: 2px; */
    /* border: 1px solid blue; */
}

.main input{
    display: none;
    /* border: 1px solid red; */
    position: relative;
    overflow-y: hidden;
    /* top: 80px; */
}



.cardContent button{
    cursor: pointer;
    padding: 10px;
}

.labelHolder{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 52%;
    left: 2.2%;
    z-index: 1000;
    overflow: hidden;
}

.main label{
    display: inline-block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    position: relative;
    margin: 5px;
    transition: all .3s ease-in-out;
    margin-left: 2.5%;
    cursor: pointer;
    overflow-y: hidden;
}

.main label span{
    display: block;
    background-color: white;
    height: 11px;
    width: 11px;
    border-radius: 50%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.catchContainer{
    position: absolute;
    width: 85%;
    overflow-y: hidden;
    transition: 0.8s top ease-in-out;
    /* max-height: 80%; */
    /* padding-left: 2px; */
    /* border: 1px solid red; */
}

.catchContainer:hover{
    transform: translateY(-450px);
}

.cardLayout .card .headLink, .cardLayout .card .headLink:visited{
    color: black;
}

.catchArticle{
    position: relative;
    /* max-width: px; */
    /* border: 1px solid white; */
    margin-left: 8%;
    height: 450px;
    /* bottom: 120px; */
    padding-left: 7px;
    transition: 0.8s top ease-in-out;
    /* max-height: 700px; */
}

.catchArticle .about{
    font-size: 1.1em;
    color: #FFC200;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 1.2em;
}

.catchArticle #readTime{
    color: #FFFFFF;
    opacity: .3;
    font-size: 1em;
    line-height: 1.2em;
    vertical-align: center;
    display: inline-block;
    margin-left: 20px;
}

.catchArticle .date{
    color: #FFFFFF;
    opacity: .5;
    font-size: 1em;
}

.catchArticle .headline{
    color: #FFFFFF;
    font-size: 4.0em;
    text-transform: uppercase;
}

.catchArticle .synopsis{
    color: white;
    font-family: 'Merriweather';
    font-size: 1.1em;
    margin-top: 25px;
    letter-spacing: 1.1px;
    opacity: .5;
}

.catchArticle button{
    /* height: 40px; */
    width: 160px;
    text-transform: uppercase;
    font-size: .9em;
    border: none;
    color: white;
    background-color: #FFC200;
    margin-top: 25px;
    height: 50px;
}

.catchArticle button a{
    text-decoration: none;
    color: #FFFFFF;
    display: block;
    line-height: 50px;
}

.catchArticle button i{
    margin-left: 10px;
}

/* COPY SECTION FOR RECENT*/

.cardReadMore a{
    text-decoration: none;
    color: black;
}

.mobileHeading{
    display: none;
}

.recent{
    width:100%;
    height: 100vh;
    min-height: 900px;
    max-height: 1000px;
    display: none;
}

.recent h3{
    font-size: 1.4em;
    font-weight: 800;
    position: relative;
    left: 10%;
    padding-top: 80px;
}

.recent .cardLayout{
    display: grid;
    grid-template-columns: repeat(3, 27%);
    grid-gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 10%;
}

.recent .cardLayout .restrict{
    max-height: 280px;
    /* border: 1px solid blue; */
    overflow-y:hidden;
}

.recent .cardLayout .card{
    min-height: 650px;
    height:650px;
    position: relative;
    border: 1px solid lightgrey;
    transition: all .3s ease-in-out;
}

.recent .cardLayout .card:hover{
    border: 1px solid darkgrey;
    /* box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.5); */
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.recent .cardLayout .card .cardImage{
    background-image: url("https://source.unsplash.com/random/200x200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height:45%;
    width:100%;
}

.recent .cardLayout .card:nth-child(2) .cardImage{
    background-image: url("images/water-damage.jpg");
}

.recent .cardLayout .card:nth-child(3) .cardImage{
    background-image: url("images/106028803-1563537886690gettyimages-1153657517.jpeg");
}

.recent .cardLayout .card:nth-child(1) .cardImage{
    background-image: url("images/blake-wisz-q3o_8MteFM0-unsplash.png");
}

.recent .cardLayout .card .cardContent{
    padding: 20px;
}

.recent .cardLayout .card .cardContent h4{
    font-size:1.4em;
    font-weight: 800;
}

.recent .cardLayout .card .cardContent p{
    line-height: 1.5em;
    color: rgb(168, 168, 168);
    padding-top: 10px;
    padding-bottom: 15px;
    /* border: 1px solid red; */
}

.recent .cardLayout .card .cardContent .cardReadMore{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
    float: left;
}

.recent .cardLayout .card .cardContent .cardReadTime{
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 25px;
    right: 20px;
    padding: 0;
}

.recent .cardLayout .card .cardContent .cardReadMore i{
    padding-left: 8px;
    font-size: 1.1em;
}

/* COPY SECTION FOR READ MORE */

.feature{
    width:100%;
    height:100vh;
    padding:5% 10%;
    position: relative;
    overflow: hidden;
    min-height: 900px;
    /* border: 1px solid red; */
    max-height: 1000px;

}

.feature::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background-image: url("images/fingerPrintBackground.png");
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
  }

.feature #featureImage{
    background-image: url("images/ME_Cover.PNG");
    background-size: cover;
    height: 750px;
    width: 48%;
    max-width: 800px;
    border-left: 20px solid #FFC200;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-position: center center;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);

}

.feature #featureArticle{
    width: 420px;
    height:65%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); 
    z-index: 2;
    border:1px solid lightgray;
    background-color: white;
    left: 35%;
    padding: 20px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.2);
    /* border: 1px solid green; */

}

.feature #featureArticle h4{
    font-size: .8em;
    color: #FFC200;
    text-transform: uppercase;
}

.feature #featureArticle h3{
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.feature #featureArticle .cardReadTime{
    font-weight: bold;
    font-size: 0.7em;
    position: absolute;
    bottom: 15px;
    right: 20px;
    padding: 0;
}

.feature #featureArticle .cardReadMore i{
    padding-left: 10px;
    font-size: 1.1em;
}

.feature #featureArticle p{
    line-height: 1.5em;
    color: rgb(168, 168, 168);
    padding-top: 10px;
    padding-bottom: 15px;
}

.feature #featureArticle .cardReadMore{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.7em;
    position: absolute;
    bottom: 15px;
    float: left;
}

button{
    cursor: pointer;
}

.feature #featureAd{
    width: 420px;
    height: 750px;
    position: absolute; 
    right: 10%;;
    top: 10%;
    background-image: url("images/hunters-race-MYbhN8KaaEc-unsplash-1.png");
    background-color: black;
    background-position: center;
    border-left: 20px solid #FFC200;
    padding: 20px;
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    /* background-blend-mode: color-dodge; */
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    
}

#mc_embed_signup{
    /* color: white; */
    background:#fff; 
    clear:left; 
    font:14px Helvetica,Arial,sans-serif;
    height: 500px;
    width: 1000px;
}

#featureAd #mc-embedded-subscribe{
    position: absolute;
    top: 90%;
    opacity: 1;
    /* height: 50px; */
    background: white;
    /* background:#fff;  */
    
}

/* .feature #featureAd:hover{
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
} */

.feature #featureAd h3{
    font-size: 2.8em;
    padding-top: 10px;
    /* font-weight: 800; */
    /* letter-spacing: 2px; */
    color: white;
    /* border: 1px solid red; */
}

.feature #featureAd p{
    font-size: 1em;
    color: white;
    position: absolute;
    bottom: 150px;
    width: 80%;
    /* border: 1px solid green; */
}

.feature #featureAd input{
    width: 85%;
    height: 35px;
    padding-left: 10px;
    font-size: 0.9em;
    position: absolute;
    bottom: 90px;
}

.feature #featureAd button{
    width: 45%;
    height: 35px;
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 5px 10px;
    padding-left: 15px;
    text-align: left;
    color: white;
    border: none;
    background-color: #FFC200;
    position: absolute;
    bottom: 40px;
}

.feature #featureAd button i{
    padding-left: 30px;
    margin-right: 15px;
    font-size: 1.2em;
    color: white;
    position: absolute;
}

.feature #featureAd button a{
    text-decoration: none;
    color: white;
}

.feature #featureArticle .restrict{
    max-height: 500px;
    overflow-y: hidden;
}

.insights{
    width:100%;
    height:100vh;
    min-height: 900px;
    position: relative;
    max-height: 1000px;
    display: none;
}

.insights h3{
    font-size: 1.4em;
    font-weight: 800;
    position: relative;
    left: 10%;
    padding-top: 80px;
}

.insights .cardLayout{
    display: grid;
    grid-template-columns: repeat(3, 27%);
    grid-gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 10%;
}

.insights .cardLayout .restrict{
    max-height: 280px;
    /* border: 1px solid blue; */
    overflow-y:hidden;
}

.insights .cardLayout .card{
    min-height: 650px;
    height:650px;
    position: relative;
    border: 1px solid lightgrey;
    transition: all .3s ease-in-out;
}

.insights .cardLayout .card:nth-child(1) .cardImage{
    background-image: url("images/marvin-meyer-SYTO3xs06fU-unsplash.png");
}

.insights .cardLayout .card:nth-child(2) .cardImage{
    background-image: url("images/room-l9QPabiKKhw-unsplash.png");
}

.insights .cardLayout .card:nth-child(3) .cardImage{
    background-image: url("images/william-iven-gcsNOsPEXfs-unsplash.png");
}


.insights .cardLayout .card:hover{
    border: 1px solid darkgrey;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.insights .cardLayout .card .cardImage{
    background-image: url("https://source.unsplash.com/random/200x200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45%;
    width:100%;
}

.insights .cardLayout .card .cardContent{
    padding: 20px;
}

.insights .cardLayout .card .cardContent h4{
    font-size:1.4em;
    font-weight: 800;
}

.insights .cardLayout .card .cardContent p{
    line-height: 1.5em;
    color: rgb(168, 168, 168);
    padding-top: 10px;
    padding-bottom: 15px;
}

.insights .cardLayout .card .cardContent .cardReadMore{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
    float: left;
}

.insights .cardLayout .card .cardContent .cardReadTime{
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 25px;
    right: 20px;
    padding: 0;
}

.insights .cardLayout .card .cardContent .cardReadMore i{
    padding-left: 8px;
    font-size: 1.1em;
}

.network{
    width:100%;
    height:100vh;
    position: relative;
    min-height: 900px;
    max-height: 1000px;
}

.network::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    /* background-image: url("images/fingerPrintBackground.png"); */
    /* filter: grayscale(100%); */
    z-index: -1;
    opacity: .5;
}

.network h3{
    font-size: 1.4em;
    font-weight: 800;
    position: relative;
    left: 10%;
    padding-top: 80px;
}

.network .cardLayout{
    display: grid;
    grid-template-columns: repeat(3, 27%);
    grid-gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 10%;
}

.network .cardLayout .restrict{
    max-height: 280px;
    /* border: 1px solid blue; */
    overflow-y:hidden;
}
/* 
.network .cardLayout{
    display: grid;
    grid-template-columns: repeat(3, 420px);
    grid-gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 10%;
} */

.network .cardLayout .card{
    min-height: 650px;
    height:650px;
    position: relative;
    border: 1px solid lightgrey;
    background: white;
    transition: all .3s ease-in-out;
}

.network .cardLayout .card:nth-child(1) .cardImage{
    background-image: url("images/1\ -\ cover.png");
}

.network .cardLayout .card:nth-child(2) .cardImage{
    background-image: url("images/mika-baumeister-gwWkv06WYFY-unsplash.jpg");
}

.network .cardLayout .card:nth-child(3) .cardImage{
    background-image: url("images/pasted\ image\ 0.png");
}


.network .cardLayout .card:hover{
    border: 1px solid darkgrey;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    transform: translateY(-5px);

}

.network .cardLayout .card .cardImage{
    background-image: url("https://source.unsplash.com/random/200x200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45%;
    width:100%;
}

.network .cardLayout .card .cardContent{
    padding: 20px;
}

.network .cardLayout .card .cardContent h4{
    font-size:1.4em;
    font-weight: 800;
}

.network .cardLayout .card .cardContent p{
    line-height: 1.5em;
    color: rgb(168, 168, 168);
    padding-top: 10px;
    padding-bottom: 15px;
}

.network .cardLayout .card .cardContent .cardReadMore{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
    float: left;
}

.network .cardLayout .card .cardContent .cardReadTime{
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 25px;
    right: 20px;
    padding: 0;
}

.network .cardLayout .card .cardContent .cardReadMore i{
    padding-left: 8px;
    font-size: 1.1em;
}

.resources{
    width:100%;
    height:100vh;
    min-height: 900px;
    position: relative;
    max-height: 1000px;
}

.resources h3{
    font-size: 1.4em;
    font-weight: 800;
    position: relative;
    left: 10%;
    padding-top: 80px;
}

.resources .cardLayout{
    display: grid;
    grid-template-columns: repeat(3, 27%);
    grid-gap: 10px;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 10%;
}

.resources .cardLayout .restrict{
    max-height: 280px;
    /* border: 1px solid blue; */
    overflow-y:hidden;
}

.resources .cardLayout .card{
    min-height: 650px;
    height:650px;
    position: relative;
    border: 1px solid lightgrey;
    transition: all .3s ease-in-out;
}

.resources .cardLayout .card:hover{
    border: 1px solid darkgrey;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
    transform: translateY(-5px);
}

.resources .cardLayout .card .cardImage{
    background-image: url("https://source.unsplash.com/random/200x200");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 45%;
    width:100%;
}

.resources .cardLayout .card:nth-child(1) .cardImage{
    background-image: url("images/Cover\ Photo.png");
}

.resources .cardLayout .card:nth-child(2) .cardImage{
    background-image: url("images/5d96bafe754caa057a3a3bab.jpeg");
}

.resources .cardLayout .card:nth-child(3) .cardImage{
    background-image: url("images/disney\ plus\ .png");
}

.resources .cardLayout .card .cardContent{
    padding: 20px;
}

.resources .cardLayout .card .cardContent h4{
    font-size:1.4em;
    font-weight: 800;
}

.resources .cardLayout .card .cardContent p{
    line-height: 1.5em;
    color: rgb(168, 168, 168);
    padding-top: 10px;
    padding-bottom: 15px;
}

.resources .cardLayout .card .cardContent .cardReadMore{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 15px;
    float: left;
}

.resources .cardLayout .card .cardContent .cardReadTime{
    font-weight: bold;
    font-size: 0.9em;
    position: absolute;
    bottom: 25px;
    right: 20px;
    padding: 0;
}

.resources .cardLayout .card .cardContent .cardReadMore i{
    padding-left: 8px;
    font-size: 1.1em;
}


.followOnIg{
    width:100%;
    height:60vh;
    min-height: 600px;
    max-height: 700px;
}

.followOnIg h3{
    font-size: 1.4em;
    font-weight: 800;
    position: relative;
    left: 10%;
    padding-top: 80px;
}

.followOnIg .cardLayout{
    display: grid;
    grid-template-columns: repeat(4, 300px);
    /* grid-gap: 50px; */
    justify-content: space-between;
    padding: 50px 10%;
}

.followOnIg .cardLayout .image{
    border-radius: 10px;
}

.followOnIg .cardLayout img{
    /* left: 50%;
    top:50%;
    transform: translate(-50%, -50%); */
    height: 300px;
    width: 300px;
}

#navBreak{
    display: none;
}

footer{
    width:100%;
    height:40vh;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    place-items: center;
    max-height: 400px;
    overflow: hidden;
}

footer img{
    height: 46px;
    width: 90px;
    margin-top: 70px;
}

footer .navList{
    list-style: none;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

footer .navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    margin: 0 10px;
    z-index: -1;
    float: left;
    font-weight: 400;
    /* border: 1px solid red; */
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
}

footer .navItem:nth-child(2)
{
    font-weight: bold;
}

footer .navItem:nth-child(2)::after{
    width: 1%;
    border-color: transparent;
}

footer .navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -11px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

footer .navItem:hover::after{
    width: 55%;
    border-color: #FFC200;
}

footer .social i{
    font-size: 2em;
    color: rgb(121, 121, 121);
    margin: 0 15px;
    transition: .3s all ease-out;
}

footer .social i:hover{
    color: #FFC200;
}

.lineBreak{
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgb(228, 228, 228);
}

@media (max-width: 1850px){

    nav{
        /* background-color: blue; */
    }

    .main .articleSlider{
        height: 420px;
    }  
}

@media (max-width: 1600px){
    nav{
        /* background-color: forestgreen; */
    }
    #featureAd{
        /* display: none; */
    }
    .feature #featureImage{
        width: 40%;
    }
    .feature #featureArticle{
        left: 30%;
        /* top: 32.75%
        top: 30%;
        height: 55%; */
    }
    .feature #featureImage{
        /* height: 70%;
        top: 30%; */
        /* transform: translateY(10%); */

    }    
    .followOnIg{
        min-height: 900px;
    }
    .followOnIg .cardLayout{
        display: grid;
        grid-template-columns: repeat(2, 300px);
        grid-gap: 50px;
        justify-content: space-around;
        padding: 50px 10%;
    }

    /* COPY SECTION FOR RECENT */

    .recent .cardLayout{
        grid-template-columns: repeat(3, 30%);
    }

    /* COPY SECTION FOR RECENT */

    .insights .cardLayout{
        grid-template-columns: repeat(3, 30%);
    }
    .network .cardLayout{
        grid-template-columns: repeat(3, 30%);
    }
    .resources .cardLayout{
        grid-template-columns: repeat(3, 30%);
    }

}

@media (max-width: 1500px){
    nav .navList .navItem{
        margin-right: 0;
        margin-left: 0;
    }

    .feature{
        /* height: 120vh; */
    }
    .feature #featureAd{
        height: 14%;
        width: 80%;
        left: 50%;
        transform: translateX(-50%);
        /* bottom: -10%; */
        top: 95%;
        display: none;
    }
    .feature #featureImage{
        width: 70%;
        /* transform: translateY(30px); */
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .feature #featureArticle{
        /* left: 50%; */
        left: 70%;
        transform: translate(-50%, -50%);
    }
    

}

@media (max-width: 1100px){
    nav{
        /* background-color: green; */
    }
    .catchContainer{
        width: 85%;
    }
    .main .articleSlider{
        height: 500px;
    }
    .catchArticle{
        height: 500px;
    }
    .catchArticle .headline{
        font-size: 3.5em;
    }
    .catchArticle .about{
        font-size: 0.9em;
    }
    .catchArticle #readTime{
        font-size: 0.8em;
    }
    .catchArticle .synopsis{
        font-size: 0.9em;
    }
    .main .articleSlider{
        top: 40%;
    }
    .main .labelHolder{
        top: 44%;
    }
    .feature #featureArticle{
        left: 60%;
    }
    .recent .cardContent{
        /* background-color: red; */
    }
    
    /* COPY RECENT SECTION */
    
    .recent{
        min-height: 1200px;
    }
    .recent h3{
        width: 420px;
        margin: auto;        
        /* border: 1px solid red; */
        left: 0;
        padding-top: 50px;
    }
    .recent .cardLayout{
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(3, 100vh); */
    }
    .recent .cardLayout .card{
        width: 420px;
        margin: auto;
        margin-bottom: 5%;
    }

    .mobileHeading{
        position: absolute;
        background-color: white;
        display: inline-block;
        max-width: 75%;
        bottom: 5%;
        right: 5%;
        font-size: 1.2rem;
        padding: 12px;
        text-align: right;
        border-radius: 10px;
    }

    .mobileHeading a{
        text-decoration: none;
        color: black;
    }
    
    .cardContent{
        display: none;
    }

    .recent .cardLayout .card{
        min-height: 292.5px;
        height: 292.5px;
        cursor: pointer;
        border-radius: 10px;
        border-color: transparent;
    }

    .recent .cardLayout .card .cardImage{
        height: 100%;
    }

    .recent .cardLayout .card:hover{
        border: none;
    }

    /* COPY RECENT SECTION */

    .insights{
        min-height: 1200px;
    }
    .insights h3{
        width: 420px;
        margin: auto;        
        /* border: 1px solid red; */
        left: 0;
        padding-top: 50px;
    }
    .insights .cardLayout{
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(3, 100vh); */
    }
    .insights .cardLayout .card{
        width: 420px;
        margin: auto;
        /* margin-left: -4%; */
        /* margin-right: 0; */
        /* padding: 0; */
        margin-bottom: 5%;
    }
    .network{
        min-height: 1200px;
    }
    .network h3{
        width: 420px;
        margin: auto;        
        /* border: 1px solid red; */
        left: 0;
        padding-top: 50px;
    }
    .network .cardLayout{
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(3, 100vh); */
    }
    .network .cardLayout .card{
        width: 420px;
        margin: auto;
        /* margin-left: -4%; */
        /* margin-right: 0; */
        /* padding: 0; */
        margin-bottom: 5%;
    }
    .resources{
        min-height: 1200px;
    }
    .resources h3{
        width: 420px;
        margin: auto;        
        /* border: 1px solid red; */
        left: 0;
        padding-top: 50px;
    }
    .resources .cardLayout{
        grid-template-columns: repeat(1,1fr);
        /* grid-template-rows: repeat(3, 100vh); */
    }
    .resources .cardLayout .card{
        width: 420px;
        margin: auto;
        /* margin-left: -4%; */
        /* margin-right: 0; */
        /* padding: 0; */
        margin-bottom: 5%;
    }

    .insights .cardLayout .card{
        min-height: 292.5px;
        height: 292.5px;
        cursor: pointer;
        border-radius: 10px;
        border-color: transparent;
    }

    .insights .cardLayout .card .cardImage{
        height: 100%;
    }

    .insights .cardLayout .card:hover{
        border: none;
    }

    .network .cardLayout .card{
        min-height: 292.5px;
        height: 292.5px;
        cursor: pointer;
        border-radius: 10px;
        border-color: transparent;
    }

    .network .cardLayout .card .cardImage{
        height: 100%;
    }

    .network .cardLayout .card:hover{
        border: none;
    }

    .resources .cardLayout .card{
        min-height: 292.5px;
        height: 292.5px;
        cursor: pointer;
        border-radius: 10px;
        border-color: transparent;
    }

    .resources .cardLayout .card .cardImage{
        height: 100%;
    }

    .network .cardLayout .card:hover{
        border: none;
}

@media (max-width: 850px){
    .followOnIg{
        min-height: 1600px;
    }
    .followOnIg .cardLayout{
        display: grid;
        grid-template-columns: repeat(1, 300px);
        grid-gap: 50px;
        justify-content: space-around;
        padding: 50px 10%;
    }
}

@media (max-width:625px){
    nav{
        /* background-color: yellow; */
    }

    nav .navMain{
        display: none;
    }

    #bars{
        display: block;
    }

    .main .social a{
        /* right: -10%; */
        display: none;
        /* border: 1px solid red; */
    }
    .catchContainer{
        width: 95%;
    }
    .labelHolder label{
        display: none;
    }
    /* nav .navList .navItem:nth-child(5){
        display: inline-block;
        text-align: right;
        float: right;
    }
    nav .navList .navItem:nth-child(6){
        display: inline-block;
        text-align: right;
        float: right;
    } */
    
    nav .navList .navItem:nth-child(2){
        /* display: none; */
    }
    nav .navList .navItem:nth-child(3){
        /* display: none; */
    }
    nav .navList .navItem:nth-child(4){
        /* display: none; */
    }
    .feature #featureImage{
        display: none;
    }
    .feature #featureArticle{
        left: 50%;
        transform: translate(-50%, -50%);
    }
    /* #bars{
        position: absolute;
        right: 2%;
    }
    #cancel{
        position: absolute;
        right: 2%;
    } */
}

@media (max-width: 750px){
    nav .navList .navItem{
        margin-right: 0;
        margin-left: 0;
    }
}

@media (max-width: 550px){
    .catchContainer{
        /* border-color: green; */
        width: 90%;
    }
    .catchContainer .headline{
        font-size: 2.5rem;
    }
    .main .social a{
        display: none;
    }
}

@media (max-width: 525px){
    nav{
        /* background-color: red; */
    }
    .main .social a{
        /* right: -10%; */
        display: none;
        /* border: 1px solid red; */
    }
    .catchContainer{
        width: 95%;
    }

    .main .articleSlider{
        height: 505px;
        overflow: hidden;
    }

    .catchArticle{
        overflow: hidden;
        height: 505px;
    }
    .labelHolder label{
        display: none;
    }
    /* .social */
    .recent h3{
        /* margin-right: 20px; */
    }

    /* COPY RECENT SECTION */
    .recent .cardLayout{
        padding: 0;
    }
    .insights .cardLayout{
        padding: 0;
    }
    .network .cardLayout{
        padding: 0;
    }
    .resources .cardLayout{
        padding: 0;
    }


    .recent h3{
        margin-left: 10%;
    }

    .recent .cardLayout .card{
        width: 80%;
    }

    /* COPY RECENT SECTION */

    .insights h3{
        margin-left: 10%;
    }

    .insights .cardLayout .card{
        width: 80%;
    }

    .network h3{
        margin-left: 10%;
    }

    .network .cardLayout .card{
        width: 80%;
    }

    .resources h3{
        margin-left: 10%;
    }

    .resources .cardLayout .card{
        width: 80%;
    }

    .feature #featureArticle{
        /* background-color: purple; */
        width: 80%;
        overflow: hidden;
    }

    footer .navList{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
        z-index: 9;
    }

    .followOnIg .cardLayout{
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: repeat(1, 200px);
    }

    .followOnIg .cardLayout img{
        height: 200px;
        width: 200px;
    }

    .followOnIg .cardLayout .image{
        width: 100%;
    }

    footer .navList .navItem{
        z-index: 10;
    }

    footer .navList .navItem:hover{
        color: #FFC200;
    }
    
    footer .navList .navItem::after{
        display: none;
    }

    footer .navList .navItem::after:hover{
        display: none;
    }
}

@media (max-width: 450px)
{
    .main .articleSlider{
        height: 600px;
        top: 150px;
        overflow: hidden;
    }

    .catchArticle{
        height: 600px;
    }
}

@media (max-width: 400px){
    .main .articleSlider{
        height: 600px;
        top: 150px;
        overflow: hidden;
    }

    .catchArticle{
        overflow: hidden;
        height: 600px;
    }

    .main {
        min-height: 900px;
    }
}

/* @media (max-width: 400px){
    .main .articleSlider{
        top: 35%;
    }

    .main .articleSlider{
        border: 1px solid red;
    }

    .main .catchContainer{
        border: 1px solid blue;
        height: 600px;
        overflow-y: hidden;
    }

    .main .catchArticle{
        border: 1px solid green;
        height: 600px;
    }
} */

/* @media (max-width: 400px){
    .main .articleslider{
        height: 600px;
        overflow-y: hidden;
    }

    .main .catchContainer{
        height: 600px;
        overflow-y: hidden;
    }

    .main .catchArticle{
        height: 600px;
        overflow-y: hidden;
    }
} */