*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 800px;
    margin: auto;
    text-align: center;
}

.navList{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
}

.navItem{
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.2em;
    margin: 0 20px;
    z-index: -1;
}

.navItem::after{
    content: '';
    position: relative;
    display: inline-block;
    width: 1%;
    top: -14px;
    border: 1px solid transparent;
    transition: all .3s ease-out;
}

.navItem:hover::after{
    width: 70%;
    border-color: green;
}

.searchBox input{
    width:0;
    opacity: 0;
    transition: .3s all ease-out;
}

.searchBox:hover input{
    width: 100px;
    opacity: 1;
}

.searchBox{
    display:inline-block;
    border:1px solid red;
    padding: 10px 20px 0px 20px;
}

.search{

}

/* .navList li::after{
    content:'';
    display: block;
    position: relative;
    left: 50%;
    z-index: 2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid transparent;
    transition: .5s border ease-out;
    width: 0;
}

.navList li:hover::after{
    content:'';
    display: block;
    z-index: 2;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border: 1px solid green;
} */